version: '3'

services:
  nginx:
    image: nginx:latest
    container_name: "omego_nginx"
    ports:
      - "8100:80"
    networks:
      - omego_network
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/app

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "omego_app"
#    environment:
#      PHP_IDE_CONFIG: "serverName=***"
    networks:
      - omego_network
    volumes:
      - ./:/app
#      - ./xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini

  db:
    image: postgres:15
    container_name: "omego_db"
    environment:
      POSTGRES_DB: "omego_db"
      POSTGRES_USER: "db_user"
      POSTGRES_PASSWORD: "secret"
    ports:
      - "5432:5432"
    networks:
      - omego_network
    volumes:
      - database_data:/var/lib/postgresql/data:rw

  adminer:
    container_name: "omego_adminer"
    image: adminer
    depends_on:
      - db
    ports:
      - "8585"
    networks:
      - omego_network
    links:
      - db
    restart: unless-stopped

networks:
  omego_network:
    driver: bridge

volumes:
    ###> doctrine/doctrine-bundle ###
  database_data:
  ###< doctrine/doctrine-bundle ###